<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>aanl</string>
	<string>anal</string>
	<string>Anal intercourse</string>
	<string>Anal sex</string>
	<string>Anal sphincter</string>
	<string>arse</string>
	<string>arsehole</string>
	<string>ass</string>
	<string>Ass-kisser</string>
	<string>assbag</string>
	<string>assbandit</string>
	<string>assbanger</string>
	<string>assbite</string>
    <string>ass-kisser</string>
	<string>assclown</string>
	<string>asscock</string>
	<string>asscracker</string>
	<string>asses</string>
	<string>assface</string>
	<string>assfuck</string>
	<string>assfucker</string>
	<string>assgoblin</string>
	<string>asshat</string>
	<string>asshead</string>
	<string>asshole</string>
	<string>asshopper</string>
	<string>assjacker</string>
	<string>asslick</string>
	<string>asslicker</string>
	<string>assmonkey</string>
	<string>assmunch</string>
	<string>assmuncher</string>
	<string>assnigger</string>
	<string>asspirate</string>
	<string>assshit</string>
	<string>assshole</string>
	<string>asssucker</string>
	<string>asswad</string>
	<string>asswipe</string>
	<string>axwound</string>
	<string>Ball-breaker</string>
	<string>Ball-buster</string>
	<string>balls</string>
	<string>Balls-Up</string>
	<string>ballsack</string>
	<string>bampot</string>
	<string>bastard</string>
	<string>beaner</string>
	<string>bikini</string>
	<string>bitch</string>
	<string>bitchass</string>
	<string>Bitchery</string>
	<string>bitches</string>
	<string>Bitchiness</string>
	<string>bitchtits</string>
	<string>bitchy</string>
	<string>Blow</string>
	<string>blow job</string>
	<string>blowjob</string>
	<string>Bollock</string>
	<string>bollocks</string>
	<string>bollox</string>
	<string>boner</string>
	<string>booty</string>
	<string>bottom</string>
	<string>breast</string>
	<string>breast cancer</string>
	<string>breast feeding</string>
	<string>Breast implant</string>
	<string>breast implant</string>
	<string>breastbone</string>
	<string>brotherfucker</string>
	<string>bullshit</string>
	<string>bumblefuck</string>
	<string>butt</string>
	<string>butt plug</string>
	<string>buttfucka</string>
	<string>buttfucker</string>
	<string>camel toe</string>
	<string>carpetmuncher</string>
	<string>cheek</string>
	<string>chest</string>
	<string>chesticle</string>
	<string>chinc</string>
	<string>chink</string>
	<string>choad</string>
	<string>chode</string>
	<string>clamidiya</string>
	<string>cleavage</string>
	<string>clit</string>
	<string>clitface</string>
	<string>clitfuck</string>
	<string>clitoral vein</string>
	<string>clitoris</string>
	<string>clusterfuck</string>
	<string>cnomdo</string>
	<string>cock</string>
	<string>cock sucking</string>
	<string>cockass</string>
	<string>cockbite</string>
	<string>cockburger</string>
	<string>cockface</string>
	<string>cockfucker</string>
	<string>cockhead</string>
	<string>cockjockey</string>
	<string>cockknoker</string>
	<string>cockmaster</string>
	<string>cockmongler</string>
	<string>cockmongruel</string>
	<string>cockmonkey</string>
	<string>cockmuncher</string>
	<string>cocknose</string>
	<string>cocknugget</string>
	<string>cockshit</string>
	<string>cocksmith</string>
	<string>cocksmoke</string>
	<string>cocksmoker</string>
	<string>cocksniffer</string>
	<string>cocksucker</string>
	<string>cockwaffle</string>
	<string>condom</string>
	<string>coochie</string>
	<string>coochy</string>
	<string>coon</string>
	<string>cooter</string>
	<string>crack</string>
	<string>crack addict</string>
	<string>crack cocaine</string>
	<string>cracker</string>
	<string>cum</string>
	<string>cumbubble</string>
	<string>cumdumpster</string>
	<string>cumguzzler</string>
	<string>cumjockey</string>
	<string>cumslut</string>
	<string>cumtart</string>
	<string>cunnie</string>
	<string>cunnilingus</string>
	<string>cunt</string>
	<string>cuntass</string>
	<string>cuntface</string>
	<string>cunthole</string>
	<string>cuntlicker</string>
	<string>cuntrag</string>
	<string>cuntslut</string>
	<string>dago</string>
	<string>damn</string>
	<string>damnation</string>
	<string>damned</string>
	<string>deggo</string>
	<string>dick</string>
	<string>dickbag</string>
	<string>dickbeaters</string>
	<string>dickface</string>
	<string>dickfuck</string>
	<string>dickfucker</string>
	<string>dickhead</string>
	<string>dickhole</string>
	<string>dickjuice</string>
	<string>dickmilk</string>
	<string>dickmonger</string>
	<string>dicks</string>
	<string>dickslap</string>
	<string>dicksucker</string>
	<string>dicksucking</string>
	<string>dicktickler</string>
	<string>dickwad</string>
	<string>dickweasel</string>
	<string>dickweed</string>
	<string>dickwod</string>
	<string>dike</string>
	<string>dildo</string>
	<string>dipshit</string>
	<string>doochbag</string>
	<string>dookie</string>
	<string>douche</string>
	<string>douche bag</string>
	<string>douchebag</string>
	<string>douchewaffle</string>
	<string>dumass</string>
	<string>dumb ass</string>
	<string>dumbass</string>
	<string>dumbfuck</string>
	<string>dumbshit</string>
	<string>dump</string>
	<string>dumping</string>
	<string>dumps</string>
	<string>dumpsite</string>
	<string>dumshit</string>
	<string>dyke</string>
	<string>ejacualte</string>
	<string>ejaculate</string>
	<string>ejaculation</string>
	<string>ejaculator</string>
	<string>ejaculatory duct</string>
	<string>fag</string>
	<string>fag end</string>
	<string>fagbag</string>
	<string>fagfucker</string>
	<string>faggit</string>
	<string>faggot</string>
	<string>faggot stitch</string>
	<string>faggotcock</string>
	<string>faggoting</string>
	<string>fagot</string>
	<string>fagtard</string>
	<string>fatass</string>
	<string>fellatio</string>
	<string>fellation</string>
	<string>feltch</string>
	<string>flamer</string>
	<string>fuck</string>
	<string>fuck all</string>
	<string>fuckass</string>
	<string>fuckbag</string>
	<string>fuckboy</string>
	<string>fuckbrain</string>
	<string>fuckbutt</string>
	<string>fuckbutter</string>
	<string>fucked</string>
	<string>fucker</string>
	<string>fuckersucker</string>
	<string>fuckface</string>
	<string>fuckhead</string>
	<string>fuckhole</string>
	<string>fuckin</string>
	<string>fucking</string>
	<string>fucknut</string>
	<string>fucknutt</string>
	<string>fuckoff</string>
	<string>fucks</string>
	<string>fuckstick</string>
	<string>fucktard</string>
	<string>fucktart</string>
	<string>fuckup</string>
	<string>fuckwad</string>
	<string>fuckwit</string>
	<string>fuckwitt</string>
	<string>fudgepacker</string>
	<string>gay</string>
	<string>gay lib</string>
	<string>gay liberation movement</string>
	<string>gay woman</string>
	<string>gayass</string>
	<string>gaybob</string>
	<string>gaydo</string>
	<string>gayfuck</string>
	<string>gayfuckist</string>
	<string>gaylord</string>
	<string>gayness</string>
	<string>gaytard</string>
	<string>gaywad</string>
	<string>genital</string>
	<string>genital herpes</string>
	<string>genital organ</string>
	<string>genital personality</string>
	<string>genital phase</string>
	<string>genital stage</string>
	<string>genital system</string>
	<string>genital torture</string>
	<string>genital wart</string>
	<string>genitalia</string>
	<string>goddamn</string>
	<string>goddamnit</string>
	<string>gonorrehea</string>
	<string>gooch</string>
	<string>gook</string>
	<string>gringo</string>
	<string>guido</string>
	<string>hand job</string>
	<string>handjob</string>
	<string>hard on</string>
	<string>hard-on</string>
	<string>heeb</string>
	<string>hell</string>
	<string>hell dust</string>
	<string>hell on earth</string>
	<string>hell raising</string>
	<string>heroine</string>
	<string>hexadecimal number system</string>
	<string>ho</string>
	<string>hoe</string>
	<string>homo</string>
	<string>homodumbshit</string>
	<string>homosexual</string>
	<string>homosexualism</string>
	<string>homosexuality</string>
	<string>honkey</string>
	<string>hump</string>
	<string>humping</string>
	<string>jackass</string>
	<string>jackass bat</string>
	<string>jagoff</string>
	<string>jap</string>
	<string>jerk off</string>
	<string>jerk-off</string>
	<string>jerkass</string>
	<string>jerker</string>
	<string>jerkin</string>
	<string>jerking</string>
	<string>jerking off</string>
	<string>jigaboo</string>
	<string>jigger</string>
	<string>jiggle</string>
	<string>jizz</string>
	<string>jungle bunny</string>
	<string>jungle fever</string>
	<string>junglebunny</string>
	<string>kike</string>
	<string>kooch</string>
	<string>kootch</string>
	<string>kraut</string>
	<string>krauthead</string>
	<string>kunt</string>
	<string>KY</string>
	<string>kyke</string>
	<string>lameass</string>
	<string>lardass</string>
	<string>lesbian</string>
	<string>lesbianism</string>
	<string>lesbo</string>
	<string>lesbos</string>
	<string>lezzie</string>
	<string>lube</string>
	<string>masturbate</string>
	<string>masturbation</string>
	<string>masturbator</string>
	<string>mcfagget</string>
	<string>meth</string>
	<string>mick</string>
	<string>minge</string>
	<string>model</string>
	<string>modeling</string>
	<string>modelling</string>
	<string>moist</string>
	<string>moistener</string>
	<string>moistening</string>
	<string>moistness</string>
	<string>mothafucka</string>
	<string>mothafucking apos</string>
	<string>motherfucker</string>
	<string>motherfucking</string>
	<string>muff</string>
	<string>muffdiver</string>
	<string>munging</string>
	<string>naked</string>
	<string>naked lady</string>
	<string>nakedness</string>
	<string>negro</string>
	<string>nigaboo</string>
	<string>nigga</string>
	<string>nigger</string>
	<string>niggers</string>
	<string>niglet</string>
	<string>nude</string>
	<string>nut sack</string>
	<string>nutsack</string>
	<string>paki</string>
	<string>panooch</string>
	<string>pecker</string>
	<string>peckerhead</string>
	<string>penis</string>
	<string>penis envy</string>
	<string>penisbanger</string>
	<string>penisfucker</string>
	<string>penispuffer</string>
	<string>piss</string>
	<string>piss-up</string>
	<string>pissed</string>
	<string>pissed off</string>
	<string>pisser</string>
	<string>pissflaps</string>
	<string>pissing</string>
	<string>polesmoker</string>
	<string>pollock</string>
	<string>pooch</string>
	<string>poon</string>
	<string>poonani</string>
	<string>poonany</string>
	<string>poontang</string>
	<string>porch monkey</string>
	<string>porchmonkey</string>
	<string>porn</string>
	<string>porn merchant</string>
	<string>porno</string>
	<string>pornographer</string>
	<string>pornography</string>
	<string>prick</string>
	<string>punanny</string>
	<string>punta</string>
	<string>puss</string>
	<string>pussies</string>
	<string>pussy</string>
	<string>pussylicking</string>
	<string>puto</string>
	<string>queef</string>
	<string>queer</string>
	<string>queer bird</string>
	<string>queer duck</string>
	<string>queerbait</string>
	<string>queerhole</string>
	<string>queerness</string>
	<string>renob</string>
	<string>rimjob</string>
	<string>round</string>
	<string>ruski</string>
	<string>sack</string>
	<string>sand nigger</string>
	<string>sandnigger</string>
	<string>schlong</string>
	<string>scrotal vein</string>
	<string>scrote</string>
	<string>scrotum</string>
	<string>sec character</string>
	<string>sesxploitation</string>
	<string>sex</string>
	<string>sex act</string>
	<string>sex activitiy</string>
	<string>sex appeal</string>
	<string>sex bomb</string>
	<string>sex cell</string>
	<string>sex change</string>
	<string>sex chrime</string>
	<string>sex chromatin</string>
	<string>sex chromosome</string>
	<string>sex drive</string>
	<string>sex gland</string>
	<string>sex harictistic</string>
	<string>sex hormone</string>
	<string>sex kitten</string>
	<string>sex linkage</string>
	<string>sex manua</string>
	<string>sex object</string>
	<string>sex offender</string>
	<string>sex offense</string>
	<string>sex organ</string>
	<string>sex segregation</string>
	<string>sex symbol</string>
	<string>sex-change operation</string>
	<string>sex-linked disorder</string>
	<string>sexadecimal notation</string>
	<string>sexagenerian</string>
	<string>sexcapade</string>
	<string>sexial pleasure</string>
	<string>sexiness</string>
	<string>sexism</string>
	<string>sexist</string>
	<string>sexlessness</string>
	<string>sexpot</string>
	<string>sext</string>
	<string>sextant</string>
	<string>sextet</string>
	<string>sextette</string>
	<string>sextillion</string>
	<string>sexton</string>
	<string>sextuplet</string>
	<string>sexual abstention</string>
	<string>sexual abuse</string>
	<string>sexual arousal</string>
	<string>sexual assualt</string>
	<string>sexual attaction</string>
	<string>sexual charachteristic</string>
	<string>sexual climax</string>
	<string>sexual congress</string>
	<string>sexual conquest</string>
	<string>sexual desire</string>
	<string>sexual discrimination</string>
	<string>sexual harassment</string>
	<string>sexual immorality</string>
	<string>sexual intercourse</string>
	<string>sexual inversion</string>
	<string>sexual love</string>
	<string>sexual morality</string>
	<string>sexual perversion</string>
	<string>sexual practice</string>
	<string>sexual relation</string>
	<string>sexual relationsip</string>
	<string>sexual reproduction</string>
	<string>sexual union</string>
	<string>sexual urge</string>
	<string>sexuality</string>
	<string>sexually transmitted disease</string>
	<string>shit</string>
	<string>shitass</string>
	<string>shitbag</string>
	<string>shitbagger</string>
	<string>shitbrains</string>
	<string>shitbreath</string>
	<string>shitcanned</string>
	<string>shitcunt</string>
	<string>shitdick</string>
	<string>shite</string>
	<string>shitface</string>
	<string>shitfaced</string>
	<string>shithead</string>
	<string>shithole</string>
	<string>shithouse</string>
	<string>shitlist</string>
	<string>shitspitter</string>
	<string>shitstain</string>
	<string>shitter</string>
	<string>shittiest</string>
	<string>shitting</string>
	<string>shitty</string>
	<string>shitwork</string>
	<string>shiz</string>
	<string>shiznit</string>
	<string>skank</string>
	<string>skeet</string>
	<string>skeet shooting</string>
	<string>skeeter hawk</string>
	<string>skullfuck</string>
	<string>slut</string>
	<string>slutbag</string>
	<string>sluttishness</string>
	<string>smeg</string>
	<string>smegma</string>
	<string>snatch</string>
	<string>spic</string>
	<string>spick</string>
	<string>splooge</string>
	<string>spook</string>
	<string>std</string>
	<string>strip</string>
	<string>strip alert</string>
	<string>strip poker</string>
	<string>strip search</string>
	<string>strip show</string>
	<string>strip-jack-naked</string>
	<string>suck</string>
	<string>suckass</string>
	<string>sucker</string>
	<string>sucking</string>
	<string>suckling</string>
	<string>swimsuit</string>
	<string>tard</string>
	<string>testes</string>
	<string>testicle</string>
	<string>testicular cancer</string>
	<string>testicular vein</string>
	<string>testiicular artery</string>
	<string>thundercunt</string>
	<string>tit</string>
	<string>titfuck</string>
	<string>tits</string>
	<string>titty</string>
	<string>tittyfuck</string>
	<string>twat</string>
	<string>twatlips</string>
	<string>twats</string>
	<string>twatwaffle</string>
	<string>twerk</string>
	<string>uncle tom</string>
	<string>unclefucker</string>
	<string>va</string>
	<string>vag</string>
	<string>vagina</string>
	<string>vaginal artery</string>
	<string>vaginal birth</string>
	<string>vaginal discharge</string>
	<string>vaginal smear</string>
	<string>vaginismus</string>
	<string>vaginitis</string>
	<string>vaginocele</string>
	<string>vajayjay</string>
	<string>viagra</string>
	<string>vjayjay</string>
	<string>wank</string>
	<string>wanker</string>
	<string>wankjob</string>
	<string>wet</string>
	<string>wet dream</string>
	<string>wet nurse</string>
	<string>wet-nurse</string>
	<string>wetback</string>
	<string>whoeremonger</string>
	<string>whore</string>
	<string>whorebag</string>
	<string>whoredom</string>
	<string>whoreface</string>
	<string>whorehouse</string>
	<string>whoremaster</string>
	<string>wop</string>
</array>
</plist>
